<div id="navigation" class="sticky">
    <nav class="top-bar" role="navigation" data-topbar data-options="scrolltop: false">
        <ul class="title-area">
            <li class="name">
                <h1 class="hide-for-large-up"><a href="{{ site.url }}{{ site.baseurl }}" class="icon-tree"> {{ site.title }}</a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar toggle-topbar-click menu-icon"><a><span>Nav</span></a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="left">
                {% for navigation in site.data.navigation.left %}
                    {% if navigation.url contains 'http' %}
                        {% assign url = navigation.url %}
                    {% else %}
                        {% assign url = navigation.url | relative_url %}
                    {% endif %}
                    <li class="{% if navigation.url == page.url %}active{% endif %}{% if navigation.dropdown %} has-dropdown{% endif %}">
                        <a href="{{ url }}">{{ navigation.title }}</a>
                        {% if navigation.dropdown %}
                            <ul class="dropdown">
                                {% for dropdown in navigation.dropdown %}
                                    {% if dropdown.url contains 'http' %}
                                        {% assign url = dropdown.url %}
                                    {% else %}
                                        {% assign url = dropdown.url | relative_url %}
                                    {% endif %}
                                    <li><a href="{{ url }}">{{ dropdown.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                    <li class="divider"></li>
                {% endfor %}
            </ul>
            <ul class="right">
                {% for navigation in site.data.navigation.right %}
                    {% if navigation.url contains 'http' %}
                        {% assign url = navigation.url %}
                    {% else %}
                        {% assign url = navigation.url | relative_url %}
                    {% endif %}
                    <li class="{% if navigation.url == page.url %}active{% endif %}{% if navigation.dropdown %} has-dropdown{% endif %}">
                        <a href="{{ url }}">{{ navigation.title }}</a>
                        {% if navigation.dropdown %}
                            <ul class="dropdown">
                                {% for dropdown in navigation.dropdown %}
                                    {% if dropdown.url contains 'http' %}
                                        {% assign url = dropdown.url %}
                                    {% else %}
                                        {% assign url = dropdown.url | relative_url %}
                                    {% endif %}
                                    <li><a href="{{ url }}">{{ dropdown.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                    <li class="divider"></li>
                {% endfor %}
            </ul>
        </section>
    </nav>
</div><!-- /#navigation -->
