<aside>
	<div class="panel radius">
		<h3>Tea 4-2</h3>
		<p>
			Pekoe is not just an EarthNode operator; it’s a movement. We are committed to securing the World Mobile network while maximizing rewards for our delegators. But we go beyond blockchain—we bring connectivity to the most remote and heroic tea plantations on Earth.

By staking with Pekoe, you are not only earning optimal rewards but also empowering communities that cultivate the rarest and most exceptional teas, ensuring they thrive in the digital age.
		</p>
	</div>

  <img class="b30" src="https://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Drink+Tea" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>
